@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* font */
  @font-face {
    font-family: 'Qsand';
    src: url('./fonts/quicksand/Quicksand-VariableFont_wght.ttf');
  }

  @font-face {
    font-family: 'notosans';
    src: url('./fonts/notosans/NotoSans-VariableFont_wdth\,wght.ttf');
  }
  
  @font-face {
    font-family: 'andica';
    src: url('./fonts/andika/Andika-Regular.ttf');
  }

  body {
    /* background-image: url('/public//background/computer-bg.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
  }

  * {
    @apply m-0 p-0;
    font-family: 'andica';
  }

  .quote {
    font-family: 'Qsand';
  }

  ::root {
    --bg-dark: #111827;
  }
  .responsive-text {
    @apply text-sm md:text-base xl:text-lg;
  }

  .menu {
    @apply flex justify-center items-center flex-wrap
      gap-2 md:gap-6 lg:gap-8
      w-full rounded-md
    ;
  }
  .menu.fixed {
    @apply bg-cyan-800/60;
  }
  .menu-item {
    @apply flex items-center gap-2
    w-fit
    text-lg lg:text-2xl md:text-xl
    text-secondary
    px-2 py-1
    hover:cursor-pointer hover:text-primary
    hover:scale-110 hover:font-semibold
    transition-colors uppercase;
  }
  
  .menu-item-layout {
    @apply flex items-center gap-2
    w-full
    text-lg font-normal
    text-slate-700 dark:text-slate-300
    px-2 py-2
    hover:text-primary transition-colors uppercase;
  }
  .menu-item-layout.active {
    @apply text-primary border-l-2 border-secondary bg-slate-700/10;
  }
  
  .menu-item.active {
    @apply text-primary font-semibold;
  }

  .section {
    @apply max-w-7xl mx-auto;
  }
  .skill-card {
    @apply w-full min-h-full flex flex-col justify-start gap-3 relative pb-6;
  }
  .skill-card.frontend {
    @apply border-l-[3px] md:border-l-4 border-primary;
  }
  .skill-card.backend {
    @apply border-r-[3px] md:border-r-4 border-primary;
  }
  .skill-card .skill-icon {
    @apply relative z-10;
  }
  .skill-grid {
    @apply grid grid-cols-2 gap-4 mt-4
      max-sm:grid-cols-1
      md:grid-cols-2 md:gap-6 md:mt-6
      lg:grid-cols-3
    ;
  }

  .section-tag {
    @apply flex items-center justify-center h-16 w-16 lg:w-20 lg:h-20
    rounded-full border-[5px];
  }
  .skill-card.frontend .skill-title {
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0% 100%, 0 0);
    @apply relative flex items-center gap-1 md:gap-2 bg-primary text-white w-fit py-1 pr-10 rounded-r-full mr-auto translate-x-[-1px];
  }
  .skill-card.backend .skill-title {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0% 50%);
    @apply relative flex items-center gap-1 md:gap-2 bg-primary text-white w-fit py-1 pl-10 rounded-l-full ml-auto translate-x-[1px];
  }
  .skill-card.frontend::before {
    /* content: ''; */
    @apply absolute bg-warning bottom-0 left-0 w-[100%] h-[3px] md:h-[4px];
  }
  
  .skill-card.backend::before {
    /* content: ''; */
    @apply absolute bg-warning bottom-0 right-0 w-[100%] h-[3px] md:h-[4px];
  }

  .social-media-item {
    @apply p-2 bg-transparent text-white rounded-full shadow-lg
    border border-secondary hover:ring-secondary relative z-10
    w-10 h-10 sm:w-10 sm:h-10
  }
  .social-media-item::after {
    content: '';
    z-index: -1;
    @apply transition-all duration-200 rounded-full absolute top-[50%] left-[50%] w-0 h-0 bg-secondary translate-x-[-50%] translate-y-[-50%];
  }
  .social-media-item:hover::after {
    @apply w-full h-full;
  }

  .social-media-icon {
    @apply w-full h-full;
  }

  .box {
    @apply px-4 py-5 w-full h-full;
  }

  .paragraph {
    @apply text-left py-2 px-1;
  }

  .work-project-title {
    @apply flex items-center justify-between;
  }
  .work-project-title h1 {
    clip-path: polygon(85% 0, 100% 100%, 85% 100%, 0% 100%, 0 0);
    @apply text-white flex items-center justify-start pr-8 pl-2 py-1; 
  }
  .work-screenshot,
  .work-project-title > h1 {
    @apply bg-warning;
  }

  .input {
     @apply text-dark bg-transparent px-6 pr-10 py-3 w-full outline-none border rounded-md;
  }

  .cv-button {
    @apply bg-secondary text-white transition-all ease-in uppercase px-6 relative flex items-center z-10
    justify-center h-[40px] lg:h-[50px] text-center max-md:text-sm max-sm:text-xs hover:bg-primary hover:shadow-[0_0_10px_violet];
  }

  .cv-button, .cv-button::after {
    -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  }
  .cv-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
    @apply transition-all duration-[0.6s];
  }
  
  .cv-button:hover {
    @apply text-[#111827] font-bold;
  }
  .cv-button:hover::after {
    @apply bg-white w-[100%];
  }

  .fixed-nav {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    animation: fromtop cubic-bezier(0.165, 0.84, 0.44, 1) .3s forwards;
    @apply bg-white border-b-2 border-primary sticky -top-20;
  }

  @keyframes fromtop {
    0% { 
      @apply -top-20;
    }
    100% { 
      @apply -top-0;
    }
  }

  .theme-icon {
    @apply animate-spin;
    animation-iteration-count: initial;
  }

  .profile-shape {
    @apply w-full h-full;
    /* border-radius: 100px / 200px 200px 100px 100px; */
    border-radius: 41% 59% 48% 52% / 74% 70% 30% 26%;
  }

  .egg-shape {
    border-radius: 100px / 200px 200px 100px 100px;
  }
  .home {
    background-attachment: fixed;
  }

  .slide {
    /* flex: 0 0 100%; */
    @apply transition-transform duration-300;
  }

  .btn-slider {
    @apply absolute top-[50%]
    rounded-full p-1 bg-warning opacity-40 hover:opacity-100 z-10;
  }
  .btn-slider.prev {
    @apply left-2;
  }
  
  .btn-slider.next {
    @apply right-2;
  }


  .background-about {
    @apply bg-white flex-auto p-2 md:p-3 lg:p-4 border border-gray-200 rounded-md text-black;
  }

  .about-item {
    @apply px-8 py-6 md:px-12 md:py-8 lg:px-14 lg:py-10 border-l-[3px] md:border-l-4 border-warning relative;
  }
  .about-section {
    @apply transition-all ease-in-out duration-200 w-fit flex items-center justify-end gap-2 absolute top-0 left-0 translate-x-[-50%] translate-y-[-50%];
  }
  .about-section-icon {
    @apply p-1 md:p-2 bg-warning ring ring-warning ring-offset-2 ring-offset-white text-white rounded-full w-8 h-8 md:w-10 md:h-10 lg:w-12 lg:h-12;
  }

  .about {
    position: relative;
    z-index: 1;
    @apply px-1 sm:px-4 md:px-8 lg:px-10
    clip-path-polygon-[50%_4%,_100%_0%,_100%_100%,_0_100%,_0_0]
    md:clip-path-polygon-[50%_5%,_100%_0%,_100%_100%,_0_100%,_0_0];
  }
  .about::after {
    content: '';
    z-index: -1;
    width: 100%;
    position: absolute;
    bottom: 0;
    @apply bg-primary h-[60px] md:h-[90px]
    clip-path-polygon-[100%_0,_0_100%,_100%_100%];
  }
  .skill {
    @apply bg-primary pb-[60px] md:pb-[90px] relative;
  }
  .skill::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    @apply bg-gray-50 h-[60px] md:h-[90px]
    clip-path-polygon-[100%_0,_0_100%,_100%_100%];
  }
  .work {
    @apply bg-gray-50 pb-[90px] relative;
  }
  .work::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    @apply bg-white
    h-[60px] clip-path-polygon-[0_calc(100%_-_60px),_0_100%,_100%_100%]
    md:h-[90px] md:clip-path-polygon-[0_calc(100%_-_90px),_0_100%,_100%_100%];
  }
  .contact {
    @apply bg-white;
  }
  .home {
    @apply relative;
  }
  .skill-title > h2 {
    @apply uppercase;
  }
}